@page "/comptes"
@using Snowfall.Web.ClientAdmin.Clients
@using Snowfall.Web.ClientAdmin.Resources
@using Microsoft.Extensions.Localization
@using Snowfall.Web.ClientAdmin.Pages.Comptes.Components
@using Snowfall.Application.Dtos.Utilisateurs
@inject CompteClient Client;
@inject IStringLocalizer<SharedResources> LocalizerShared;

<NavLink href="/">@LocalizerShared["Retour"]</NavLink>
<h1>Gestion des comptes</h1>

<UtilisateurListe Utilisateurs="@_utilisateurs"></UtilisateurListe>

@code {
    private List<UtilisateurDto>? _utilisateurs;

    protected override async Task OnInitializedAsync()
    {
        _utilisateurs = await Client.ObtenirUtilisateurs();
    }
}