@model Snowfall.Web.Mvc.Models.Auth.ConnexionViewModel

@{
    ViewBag.Title = "Connexion";
}

<div class="row">
    <div class="col-md-8 col-lg-4 offset-md-2 offset-lg-4">
        <h1 class="mb-3">Connexion</h1>
        
        @if (Html.ViewData.ModelState["Authentification.Echec"]?.Errors.Count > 0)
        {
            <div class="alert alert-danger">
                @Html.ValidationMessage("Authentification.Echec")
            </div>
        }

        <form asp-controller="Auth" asp-action="Authentifier" asp-route-returnUrl="@ViewBag.ReturnUrl">
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control"/>
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="invalid-feedback"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control"/>
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="invalid-feedback"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Connexion</button>
            </div>
        </form>
    </div>
</div>