@import "bootstrap_custom";

@import "~bootstrap/scss/bootstrap";

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

.card-evenement {
  height: 11rem;
}

.input-validation-error {
  @extend .is-invalid;
}