﻿<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-5">
        <div class="container-fluid">
            <NavLink href="" class="navbar-brand">Snowfall</NavLink>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link" ActiveClass="active" href="evenements">Gestion des événements</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" ActiveClass="active" href="comptes">Gestion des comptes</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>