@using Snowfall.Application.Dtos.Utilisateurs

@if (Utilisateurs == null)
{
    <p>Chargement des utilisateurs...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
        @foreach (UtilisateurDto utilisateur in Utilisateurs)
        {
            <tr>
                <td>@utilisateur.Prenom</td>
                <td>@utilisateur.Nom</td>
                <td>@utilisateur.Email</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    [Parameter] public List<UtilisateurDto>? Utilisateurs { get; set; }
}