@page "/evenements"
@using Snowfall.Application.Dtos.Evenements
@using Snowfall.Web.ClientAdmin.Clients
@using Snowfall.Web.ClientAdmin.Pages.Evenements.Components
@using Snowfall.Web.ClientAdmin.Resources
@using Microsoft.Extensions.Localization
@inject EvenementClient Client;
@inject IStringLocalizer<Resources.Evenements.Index> Localizer;
@inject IStringLocalizer<SharedResources> LocalizerShared;

<NavLink href="/">@LocalizerShared["Retour"]</NavLink>
<h1>@Localizer["Titre"]</h1>

<EvenementListe Evenements="@_evenements"></EvenementListe>

@code {
    private List<EvenementDto>? _evenements;

    protected override async Task OnInitializedAsync()
    {
        _evenements = await Client.ObtenirEvenements();
    }
}