@page "/evenements/{Id:int}"
@using Snowfall.Application.Dtos.Evenements
@using Snowfall.Web.ClientAdmin.Clients
@using System.Net
@inject EvenementClient Client;

@if (_evenement == null)
{
    @if (!string.IsNullOrEmpty(_alertMessage))
    {
        <div class="alert alert-danger">@_alertMessage</div>
    }
    else
    {
        <p>Chargement...</p>
    }
}
else
{
    <h1>@_evenement.Nom</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="card mt-3">
                <div class="card-body">
                    @_evenement.Description
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6>Date</h6>
                        @_evenement.Date
                    </li>
                    <li class="list-group-item">
                        <h6>Ville</h6>
                        @_evenement.Ville.Nom, @_evenement.Ville.PaysIso
                    </li>
                    <li class="list-group-item">
                        <h6>Prix</h6>
                        @_evenement.Prix$
                    </li>
                </ul>
                <div class="card-body">
                    <NavLink class="btn btn-primary">Modifier</NavLink>
                    <NavLink class="btn btn-danger">Supprimer</NavLink>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private string? _alertMessage;
    private EvenementDto? _evenement;
    
    protected override async Task OnInitializedAsync()
    {
        (var statusCode, _evenement) = await Client.ObtenirEvenement(Id);
        
        if (statusCode == HttpStatusCode.NotFound) 
            _alertMessage = "Désolé, aucun événement n'a été trouvé."; 
    }
}