@model Snowfall.Web.Mvc.Models.Inscriptions.InscriptionViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@{
    ViewBag.Title = ViewLocalizer["Titre"];
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="mb-5">@ViewBag.Title</h1>

        <h2>@ViewLocalizer["SousTitreAchat"]</h2>
        <div class="card mb-5">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/images/evenements/@Model.Evenement.ImagePath" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Evenement.Nom</h5>
                        <p class="card-text">@Model.Evenement.Prix$</p>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>Informations de facturation</h2>
        <div class="card">
            <div class="card-body">
                <h3>@Model.Utilisateur.Prenom @Model.Utilisateur.Nom</h3>
                <ul class="list-unstyled">
                    <li>@Model.Utilisateur.Client?.Adresse</li>
                    <li>@Model.Utilisateur.Client?.Ville, @Model.Utilisateur.Client?.Province, @Model.Utilisateur.Client?.CodePostal</li>
                    <li>@Model.Utilisateur.Client?.Pays</li>
                </ul>
            </div>
        </div>
        
        <div class="card mt-3">
            <div class="card-body">
                <ul class="list-unstyled">
                    <li><strong>@ViewLocalizer["SousTotal"]</strong>: @Model.Evenement.Prix$</li>
                    <li><strong>@ViewLocalizer["Tps"]</strong>: @Model.Prix.Taxe1$</li>
                    <li><strong>@ViewLocalizer["Tvq"]</strong>: @Model.Prix.Taxe2$</li>
                    <li><strong>@ViewLocalizer["Total"]</strong>: @Model.Prix.Total$</li>
                </ul>
            </div>
        </div>
        
        <div class="mt-3">
            <form class="d-inline" asp-controller="Inscriptions" asp-action="Delete">
                <input type="hidden" name="_method" value="DELETE" />
                
                <button class="btn btn-secondary">@ViewLocalizer["Boutton.Annuler"]</button>
            </form>
        </div>
    </div>
</div>