@model Evenement

<div class="col-md-6 col-lg-4 mb-4">
    <div class="card h-100">
        @if (@Model.ImagePath != null)
        {
            <img class="card-evenement img-fluid rounded-top object-fit-cover" src="~/images/evenements/@Model.ImagePath"/>
        }
        <div class="card-body">
            <h5 class="card-title">@Model.Nom</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">@Model.Prix$</p>
            <p class="card-text">
                <small class="text-muted">@Model.Date.ToShortDateString() - @Model.Capacite places</small>
            </p>
            @if (@Model.Ville != null)
            {
                <p class="card-text">
                    <partial name="_Ville" model="@Model.Ville"/>
                </p>
            }
        </div>
        <div class="card-footer">
            <a class="btn btn-primary"
               asp-controller="Evenements"
               asp-action="Show"
               asp-route-id="@Model.Id">
                Détails
            </a>
        </div>
    </div>
</div>