@model EvenementsIndexViewModel;

@{
    ViewBag.Title = "Événements";
}

<h1 class="mb-4">Événements</h1>

<div class="row">
    <div class="col-lg-3 mb-4">
        @* <form asp-controller="Evenements" asp-action="Index"> *@
        @*     <button class="btn btn-primary">S'inscrire</button> *@
        @* </form> *@
        <h6 class="text-uppercase">Filtrer par ville</h6>
        <div class="list-group">
            @foreach (Ville ville in Model.Villes)
            {
                <a class="list-group-item list-group-item-action @(Model.FiltreVilleId == ville.Id ? "active" : string.Empty)"
                   asp-controller="Evenements"
                   asp-action="Index"
                   asp-route-fourchette="@Model.FiltreFourchettePrixId"
                   asp-route-ville="@ville.Id">
                    @ville.Nom, @ville.PaysIso
                </a>
            }
        </div>
        <h6 class="text-uppercase mt-3">Filtrer par prix</h6>
        <div class="list-group">
            @foreach (FourchettePrix fourchette in Model.FourchettePrix)
            {
                <a class="list-group-item list-group-item-action @(Model.FiltreFourchettePrixId == fourchette.Id ? "active" : string.Empty)"
                   asp-controller="Evenements"
                   asp-action="Index"
                   asp-route-ville="@Model.FiltreVilleId"
                   asp-route-fourchette="@fourchette.Id">
                    @fourchette.Nom
                </a>
            }
        </div>
        <a class="btn btn-secondary mt-3"
           asp-controller="Evenements"
           asp-action="Index">
            Réinitialiser les filtres
        </a>
    </div>
    <div class="col-lg-9">
        <div class="row">
            @foreach (Evenement evenement in Model.Evenements)
            {
                <partial name="_Evenement" model="evenement"/>
            }
        </div>
    </div>
</div>