@model Evenement

@{
    ViewBag.Title = Model.Nom;
    Layout = "_Layout";
}

<h1 class="mb-3">@Model.Nom - Id: @Model.Id</h1>

<div class="row">
    <div class="col-md-6">
        @if (@Model.ImagePath != null)
        {
            <img class="img-fluid img-thumbnail" src="~/images/evenements/@Model.ImagePath" />
        }
    </div>
    
    <div class="col-md-6">
        <p>@Model.Description</p>
        <p><strong>@Model.Prix$</strong></p>
        <ul class="list-unstyled small">
            <li>Date: @Model.Date.ToShortDateString()</li>
            <li>Capacité: @Model.Capacite places</li>
        </ul>
        
        <partial name="_Ville" model="@Model.Ville"/>
        
        @if (User.Identity?.IsAuthenticated == true)
        {
            <form asp-controller="Inscriptions" asp-action="Acheter">
                <input type="hidden" asp-for="Id"></input>
                <button class="btn btn-primary mt-5">Acheter un billet</button>
            </form>
        }
        else
        {
            <form asp-controller="Inscriptions" asp-action="AcheterPlusTard">
                <input type="hidden" asp-for="Id"></input>
                <button class="btn btn-primary mt-5">Connectez-vous pour acheter</button>
            </form>
        }
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8">
        <div class="d-flex mb-3">
            <div class="flex-grow-1">
                <h2>Messages</h2>
            </div>
            <div>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <a class="btn btn-secondary"
                       asp-controller="Messages"
                       asp-route-evenementId="@Model.Id"
                       asp-action="New">
                        Écrire un message
                    </a>
                }
            </div>
        </div>
        
        <div hx-get                    
            hx-controller="Messages"   
            hx-action="Index"          
            hx-route-evenementId="@Model.Id"
            hx-trigger="load">
        </div>
    </div>
</div>

<a class="btn btn-secondary mt-4" asp-controller="Evenements" asp-action="">Retour à la liste</a>