@model Snowfall.Web.Mvc.Models.Comptes.CreerCompteViewModel

@{
    ViewBag.Title = "Créer un compte";
}

<div class="row">
    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
        <h1 class="mb-3">Créer un compte</h1>
        
        <form asp-controller="Comptes" asp-action="Create">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Prenom" class="form-control"/>
                        <label asp-for="Prenom"></label>
                        <span asp-validation-for="Prenom" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Nom" class="form-control"/>
                        <label asp-for="Nom"></label>
                        <span asp-validation-for="Nom" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input asp-for="Adresse" class="form-control"/>
                        <label asp-for="Adresse"></label>
                        <span asp-validation-for="Adresse" class="invalid-feedback"></span>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Ville" class="form-control"/>
                        <label asp-for="Ville"></label>
                        <span asp-validation-for="Ville" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="CodePostal" class="form-control"/>
                        <label asp-for="CodePostal"></label>
                        <span asp-validation-for="CodePostal" class="invalid-feedback"></span>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Province" class="form-control"/>
                        <label asp-for="Province"></label>
                        <span asp-validation-for="Province" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Pays" class="form-control"/>
                        <label asp-for="Pays"></label>
                        <span asp-validation-for="Pays" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control"/>
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control"/>
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input asp-for="ConfirmPassword" class="form-control"/>
                        <label asp-for="ConfirmPassword"></label>
                        <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary">S'inscrire</button>
                </div>
            </div>
        </form>
    </div>
</div>