@using Snowfall.Web.Mvc.Extensions
@using System.Globalization
@model Message

<div class="card mb-3">
    <div class="card-body">
        <p class="card-text" style="white-space: pre-line">@Model.Contenu</p>
        
        @if (User.Identity?.Id() == Model.UtilisateurId)
        {
            <a class="card-link small"
               asp-controller="Messages"
               asp-action="Edit"
               asp-route-evenementId="@Model.EvenementId"
               asp-route-id="@Model.Id">Modifier</a>
            
            <a class="card-link link-danger small"
               href="#"
               hx-get
               hx-controller="Messages"
               hx-action="ConfirmationDelete"
               hx-route-evenementId="@Model.EvenementId"
               hx-route-id="@Model.Id"
               hx-target="#app-modal-manager" 
               hx-trigger="click">Supprimer</a>
        }
    </div>
    <div class="card-footer">
        <small class="text-muted">
            Publié par @Model.Utilisateur?.Prenom @Model.Utilisateur?.Nom, 
            dernière mise à jour: @Model.DateModification.ToString("g", CultureInfo.GetCultureInfo("fr-CA"))
        </small>
    </div>
</div>