@using Microsoft.AspNetCore.Mvc.Localization
@model Snowfall.Web.Mvc.Models.Messages.CreerMessageViewModel
@inject IViewLocalizer ViewLocalizer
@inject IHtmlLocalizer<SharedResources> HtmlLocalizer

@{
    ViewBag.Title = ViewLocalizer["Titre"];
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="mb-3">
            <a asp-controller="Evenements"
               asp-action="Show"
               asp-route-id="@Model.EvenementId">
                @ViewLocalizer["Retour"]
            </a>
        </div>
        
        <h1>@ViewLocalizer["Titre"]</h1>

        <form asp-controller="Messages"
              asp-action="Create"
              asp-route-evenementId="@Model.EvenementId">

            <input type="hidden" asp-for="EvenementId"/>

            <div class="mb-3">
                <textarea asp-for="Contenu" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Contenu" class="invalid-feedback"></span>
            </div>

            <button class="btn btn-primary">@HtmlLocalizer["Bouton.Soumettre"]</button>
        </form>

    </div>
</div>